<h2 class="bg-primary text-white text-center py-1 fw-bolder">Calculator Section</h2>
<div class="px-5">
    <span class="text-danger fw-bolder px-5">Enter a First Number : <input type="number" #id1></span>
<span class="text-danger fw-bolder px-5">Enter a Second Number : <input type="number" #id2></span>
<span class="text-danger fw-bolder">Enter a Third Number : <input type="number" #id3></span><br><br>
</div>
<div class="text-center">
<button class="btn btn-danger fw-bold text-white mx-5" (click)="fun1(id1.value,id2.value,id3.value)">Addition</button>
<button class="btn btn-primary fw-bold text-white mx-5" (click)="fun2(id1.value,id2.value,id3.value)">Substraction</button>
<button class="btn btn-success fw-bold text-white mx-5" (click)="fun3(id1.value,id2.value,id3.value)">Multiplication</button>
<button class="btn btn-secondary fw-bold text-white mx-5" (click)="fun4(id1.value,id2.value,id3.value)">Division</button>
</div><br>
<div class="text-primary text-center"><hr>
    <h3 class="fw-bold">{{"Calculation : " + cnt}}</h3>
    <hr>
</div>


